.prj-list-item {
    margin-top: 10px;
}

.about {
    font-size: 17px;
}

.separator {
    border-top: 1px solid #eee;
}

.actions li {
    margin-bottom: 15px;
}

.actions .label {
    margin-left: 10px;
}

.about .unavailable {
    color: #999;
}

.use-cases li {
    margin: 10px 0px;
}

.about ol ol li {
    list-style-type: lower-alpha;
}

.about .image {
    text-align: center;
    margin-top: 0px;
}

.about .image img {
    max-width: 700px;
    width: 100%;
}

.about .signin {
    margin: 50px 0px;
    text-align: center;
}

.about .langs {
    display: flex;
    justify-content: space-around;
}

.about .lang img {
    max-height: 30px;
    margin-right: 5px;
}

.about .lang {
    font-size: 20px;
}

.about .signin span {
    font-size: 24px;
}

.about .signin a {
    padding: 20px;
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
}

.form-control-feedback {
    width: auto;
    margin-right: 10px;
}

.form-control-feedback img {
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

.control-label.no-padding-right {
    padding-right: 0px;
}

.operation {
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}

.operations {
    margin: 10px 0px;
    border-top: 1px solid #ccc;
}

form textarea.form-control {
    height: 100px;
    resize: vertical;
}

.test-spinner {
    display: inline-block;
    width: 54px;
    height: 34px;
    padding: 5px;
    text-align: center;
}

.project-name {
    font-size: 20px;
    padding: 2px 0px;
}

.project-name small {
    color: #FFF;
    padding-left: 10px;
}

#iProjectList .action {
    height: 80px;
    color: #444;
    background-color: #FAFAFA;
}

#iProjectList .action.pressable {
    cursor: pointer;
}

#iProjectList .action.pressable:hover {
    background-color: #EEE;
}

.action .panel-body {
    height: 100%;
}

.action .action-icon {
    font-size: 16px;
    margin-right: 5px;
    max-width: 16px;
    max-height: 16px;
}

.action .action-name {
    font-size: 14px;
}

.action .action-info {
    margin-left: 10px;
}

.action .library-name {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.action .library-name.long-name {
    font-size: 14px;
}

.action .version {
    font-size: 14px;
}

.action .panel-body {
    padding: 10px;
}

.add-action {
    font-size: 20px;
}

.action.add-action .panel-body {
    padding: 27px;
    text-align: center;
}

@media (max-width: 767px) {
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .modal-content {
        border-radius: 0;
    }

    .close-btn {
        margin-left: 10px;
    }
}
