.prj-list-item {
    margin-top: 10px;
}

.about {
    font-size: 17px;
}

.separator {
    border-top: 1px solid #eee;
}

.actions li {
    margin-bottom: 15px;
}

.actions .label {
    margin-left: 10px;
}

.about .unavailable {
    color: #999;
}

.use-cases li {
    margin: 10px 0px;
}

.about ol ol li {
    list-style-type: lower-alpha;
}

#artifact-input-group {
    position: relative;
}

#artifact-input-group .form-control-feedback {
    width: auto;
    margin-right: 10px;
}

#artifact-input-group .form-control-feedback img {
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

#email-input {
    margin-bottom: 10px;
}

form textarea.form-control {
    height: 150px;
    resize: vertical;
}

.test-spinner {
    display: inline-block;
    width: 54px;
    height: 34px;
    padding: 5px;
    text-align: center;
}

#iProjectList .action {
    cursor: pointer;
    height: 80px;
    color: #444;
    background-color: #FAFAFA;
}

#iProjectList .action:hover {
    background-color: #EEE;
}

.action .panel-body {
    height: 100%;
}

.action .action-icon {
    font-size: 16px;
    margin-right: 5px;
    max-width: 16px;
    max-height: 16px;
}

.action .action-name {
    font-size: 14px;
}

.action .action-info {
    margin-left: 10px;
}

.action .library-name {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.action .library-name.long-name {
    font-size: 14px;
}

.action .version {
    font-size: 14px;
}

.action .panel-body {
    padding: 10px;
}

.add-action {
    font-size: 20px;
}

.action.add-action .panel-body {
    padding: 27px;
    text-align: center;
}
